<form action="/names" method="post">
  <input type="text" name="player_1_name_input" id="player_1_name_input">
  <input type="text" name="player_2_name_input" id="player_2_name_input">
  <input type="submit" name="submit" id="submit">
</form>
