<div><%= @player_1_name %></div>
<form action="/attack" method="get">
  <input type='submit' value='Attack Player 2'>
</form>
<div><%= @player_2_name %></div>
<div><%= "Player 2's hit points: 20" %></div>
